
.instructive {
  text-align: center;
  font-size: 20px;
  margin: 5px 0;
}

.mainMenu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  z-index: 1;
}

.mainMenu .menuOption img {
  width: 70px;
  margin: 10px;
  animation: pulso 4s infinite;
  -webkit-box-shadow: 0 0 32px 3px rgba(0,0,0,0.23);
  box-shadow: 0 0 32px 3px rgba(0,0,0,0.23);
}

.buenVecino {
  text-align: center;
}

.buenVecino img {
  width: 150px;
  position: fixed;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes pulso {
  from {transform: none;}
  50% {transform: scale(1.05);}
  to {transform: none;}
}

