.calendar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 0;
  z-index: 1;
}

.calendar img {
  width: 71px;
  margin-top: 5px;
  border-radius: 10px;
}

.steps {
  margin: 30px;
  text-align: center;
}

.steps .dayImg img {
  height: 75px;
  width: 75px;
  -webkit-box-shadow: 0 0 32px 3px rgba(0,0,0,0.23);
  box-shadow: 0 0 32px 3px rgba(0,0,0,0.23);
}

.steps h2 {
  font-size: 20px;
  font-weight: 500;
}

.steps .stepText {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  height: 180px;
  overflow: auto;
  text-align: left;
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
}

.steps .stepText.gz {
  margin: 0;
}

.steps .stepText.sings {
  height: 330px;
}

.steps .stepText .text-sing {
  text-align: center;
}

.stepText p {
  margin: 10px 0;
  line-height: 23px;
}

.stepText .gozos {
  line-height: normal;
  letter-spacing: normal;
  font-size: 18px;
  margin: 0;
}

.steps small {
  line-height: normal;
  letter-spacing: normal;
  font-size: 1rem;
}

.reading {
  width: 30px;
  margin-left: 10px;
}

.steps .sings {
  position: relative;
  width: 250px;
  text-align: center;
  margin: 20px auto;
  z-index: 1;
}

.steps .sings a {
  display: flex;
  justify-content: center;
  background-color: brown;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  font-size: 17px;
  border-radius: 20px;
}

#anton {
  background-color: #0071A0;
}

#tutaina {
  background-color: #0081B6;
  /* color: #439555; */
}

#nanita {
  background-color: #0091CD;
}

#campana {
  background-color: #00A1E4;
}

#peces {
  background-color: #00B5FF;
}

.buttons {
  text-align: center;
  position: relative;
  bottom: -20px;
}

.buttonBefore, .buttonAfter{
  height: 23px;
  text-align: center;
  animation: pulso 4s infinite;
  margin: 0 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.buttonBefore img, .buttonAfter img {
  height: 100%;
}

@keyframes pulso {
  from {transform: none;}
  50% {transform: scale(1.2)}
  to {transform: none;}
}


@media screen and (min-height: 400px) {
  .steps .stepText {
    height: 100px;
  }
}

@media screen and (min-height: 500px) {
  .steps .stepText {
    height: 180px;
  }
}

@media screen and (min-height: 600px) {
  .steps .stepText {
    height: 250px;
  }
}

@media screen and (min-height: 700px) {
  .steps .stepText {
    height: 320px;
  }
}

@media screen and (min-height: 800px) {
  .steps .stepText {
    height: 380px;
  }
}

@media screen and (min-height: 900px) {
  .steps .stepText {
    height: 480px;
  }
}

