.header {
  background-image: url('../assets/components/header.png');
  height: 60px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  background-size: cover;
  text-align: center;
}

.back {
  width: 70px;
  margin: 40px auto;
  animation: pulso 2s infinite;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

@keyframes pulso {
  from {transform: none;}
  50% {transform: scale(1.08);}
  to {transform: none;}
}

.brandLogo {
  text-align: center;
  margin: 5px 20px 0 20px;
}

.brandLogo img {
  height: 45px;
  width: 100%;
}

.brandLogoCustom img {
  height: 400px;
  width: 100%;
}

.slide p {
  font-size: 15px;
  color: #0386E6;
  margin: 5px;
  ;
}

.footer {
  position: fixed;
  bottom: 0;
  background-repeat: no-repeat;
  height: 230px;
  width: 100%;
  background-position: right;
  mix-blend-mode: multiply;
  z-index: 0;
  margin: 10px 0;
}

.footer p {
  position: relative;
  text-align: center;
  bottom: -210px;
}

.introModal {
  background: #F9F9FB;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: 1s;
}

.hide {
  visibility: hidden;
}

.introModal .introContent {
  margin: 50px;
}

.decorUp img {
  height: 200px;
}

.familyImage img {
  height: 200px;
}

.introModal .novenaImage {
  margin-top: 50px;
}

.introModal .brandLogo {
  margin: 0 0 20px 0;
}

@media screen and (min-width: 800px) {
  .introModal .novenaImage img {
    height: 100px;
  }
  .mainMenu .menuOption img {
    width: 100px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    background-position: center;
  }
  .footer {
    background-size: 150px;
  }
}
